<html>
    <body>
        <h1>Hello world!</h1>
        <ul>
            <li>
                <a href="/neighborhoods">Neighborhoods Page</a>
            </li>
            <li>
                <a href="/api/neighborhoods">Neighborhoods API</a>
            </li>
        </ul>
    </body>
</html>