<div>
    <h2><%= neighborhood.name %></h2>
    <a href="<%= neighborhood.link %>">Link to visitseattle.org!</a>
    <p><%= neighborhood.description %></p>
    <img src="<%= neighborhood.photo %>"></img>
</div>